<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl">New inventory category</h1>
  <%= render "form", inventory_category: @inventory_category, title: "Input" %>
  <%= link_to "Back to inventory categories", inventory_categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
