<label class="col-sm-12 col-md-2 col-form-label">City/Regency *</label>
<div class="col-sm-12 col-md-10" id="regency-select-container">
  <select id="regency-select" name="city" class="form-control" data-controller="select-option-slim" data-target="dependent-fields.regencySelect">
    <option value="">Select Regency</option>
    <% if @regencies.present? %>
      <% @regencies.each do |regency| %>
        <option value="<%= regency.id %>"><%= regency.name %></option>
      <% end %>
    <% else %>
      <option value="">Data not available</option>
    <% end %>
  </select>
</div>
