<div id="<%= dom_id permission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Action:</strong>
    <%= permission.action %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resource:</strong>
    <%= permission.resource %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= permission.role_id %>
  </p>

</div>
