<div id="<%= dom_id product_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product_category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product_category.description %>
  </p>

</div>
