<div id="<%= dom_id date_class_available %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Available date:</strong>
    <%= date_class_available.available_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= date_class_available.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Classpackage:</strong>
    <%= date_class_available.ClassPackage_id %>
  </p>

</div>
