<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Date class availables" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Date class availables</h1>
    <%= link_to "New date class available", new_date_class_available_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="date_class_availables" class="min-w-full">
    <% @date_class_availables.each do |date_class_available| %>
      <%= render date_class_available %>
      <p>
        <%= link_to "Show this date class available", date_class_available, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
